.wrapper {
  max-width: 700px;
  margin: 30px auto;
  display: flex;

  background-color: #2696e8;
  border: 1px solid #2696e8;
}
.wrapper_one {
  justify-content: space-between;
}

.wrapper_two {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.wrapper_three {
  justify-content: center;
}

span {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper_three span {
  max-width: 100px;
}
/* a:hover {
  color: #2696e8;
} */
span:hover,
span:hover a {
  color: #2696e8;
  background-color: #fff;
}
